@tailwind base;
@tailwind components;
@tailwind utilities;


/* ヘッダーのスタイル */
header {
  background-color: #000080;
  color: white;
  padding: 1rem 0;
  margin: 0; /* 余白をなくす */
  display: flex;
  justify-content: space-between; /* 両端に要素を配置 */
  align-items: center; /* 垂直方向に中央寄せ */
  width: 100%; /* 横幅を100%に設定 */
  box-sizing: border-box; /* パディングやボーダーを含めた幅の計算 */
}

/* ヘッダー内のタイトル部分 */
header h1 {
  margin: 0; /* タイトル周りの余白を削除 */
  font-size: 23px;
  font-weight: bold;
}

/* ナビゲーションメニューのスタイル */
header nav {
  display: flex; /* ナビゲーションリンクを横並びに */
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* 各リンクの間にスペース */
}

header nav a:hover {
  text-decoration: underline;
}

/* ページコンテンツのマージン */
.App {
  margin: 0; /* 余白をなくす */
  padding: 0; /* パディングを0に設定 */
  width: 100%; /* 横幅を100%に設定 */
  box-sizing: border-box; /* パディングやボーダーを含めた幅の計算 */
}


body {
  margin: 0; /* 余白を削除 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; /* ボディの高さを100%に設定 */
  width: 100%; /* ボディの横幅を100%に設定 */
  box-sizing: border-box; /* パディングやボーダーを含めた幅の計算 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
